* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
}

#quote-box {
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 80%;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 5px;
    background: #eee;
}

#text { font-size: 32px; }
.bq { font-size: 32px;}

.quote-author { text-align: right; margin: 1em;}


#tweet-quote {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 0.5em;
    color: #eee;
}

#new-quote {
    float: right;
    height: 40px;
    padding: 10px;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    color: #eee;
}

button {outline: none;}